.desserts {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.desserts__card {
  width: 250px;
}

.desserts__card h2 {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
}

.desserts__card p {
  max-width: 235px;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  color: #73798c;
}

.dessetrts__down__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.dessetrts__down__card p {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  color: #000000;
}

.desserts__h2 {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  text-align: left;
  margin-top: 70px;
  margin-bottom: 40px;
}

.p__desserts__2 {
  margin-bottom: 47px;
}

.p__desserts__3 {
  margin-bottom: 66px;
}

.p__desserts__4 {
  margin-bottom: 20px;
}

.p__desserts__5 {
  width: 216px;
  margin-bottom: 47px;
}
