h2 {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  text-align: left;
  margin-bottom: 30px;
}

.four_pizzas {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pizzas {
  max-width: 250px;
  max-height: 104px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  box-shadow: 0px 6px 25px rgba(6, 5, 50, 0.05);
  }

.pizzas__info {
  margin-top: 29px;
  margin-left: 22px;
}

.pizzas__info p {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
}
